* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans;
	font-size: 0;
}

img {
	width: 100%;
	font-size: 0;
}

h1 {
	color: white;
	opacity: 0.7;
	text-align: center;
	position: fixed;
	font-size: 10rem;
	top: 40%;
	width: 100%;
}
